@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
}
